*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: "Spartan", serif;
    
};
/*Global Styling*/
.bg-image {
    /* Full height */
    height: 70%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1
{
font-size: 50px;
line-height: 64px;
color: rgb(8, 8, 8);
}

h5
{
    font-size: 50px;
  
    color: #3c00ff;
}

h2
{
font-size: 46px;
line-height: 54px;
color: #000000;
}

h4
{
font-size: 20px;
color: #000000;
}

h6
{
font-weight: 700;
font-size: 12px;
}

p
{
font-size: 16px;
color: #0c0c0c;
margin: 15px 0 20px 0;
}

.section-p1 
{
    padding: 40px 80px;
}

.section-m1
{
    margin: 40px 0;
}

button.normal
{
font-size: 14px;
font-weight: 600;
padding: 15px 30px;
color: #1a1a1a;
background-color: #fff;
border-radius: 4px;
cursor: pointer;
border: none;
outline: none;
transition: 0.2s;
}

body
{
    width: 100%;
}

/*Header*/

#header
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: aliceblue;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    background-image: url(../images/background.jpeg);
    z-index: 999;
    position:sticky;
    top:0;
    left:0;
}
#navbar
{
    display:flex;
    align-items: center;
    justify-content: center;
    color: #f3e8b2;
}
/*Following code targets our list from navigattion bar and removes list style: bulletin from the list*/
#navbar li
{
    list-style: none;
    padding: 0 25px;
    position: relative;
}

#navbar li a 
{
text-decoration: none;
font-size: 16px; 
font-weight: 600;
color: rgb(236, 228, 159); 
transition: 0.4s ease
}
/*Parent element of hover and active tag is anchor tag and the parent element of anchor tag is list element
Touse position absolute in child element we have to add position relative in parent element
*/
#navbar li a:hover,
#navbar li a.active
{
    color: rgba(244, 187, 74, 0.604);
}
#navbar li a.active::after,
#navbar li a:hover::after
/* pseudo classes: after and before*.. After using after we need to give content which will be emptyt*/

{
    content:"";
    width: 80%;
    height: 2px;
    background: #e5f6f1;
    position: absolute;
    bottom: -4px;
    left: 20px;
    }
    
#heroo
    
    {
        
     background-image: url("../images/background.jpeg")  ;
      
     height: 90vh;
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-position: top 25% right 0;
     padding: 0 80px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
           

            
    /*background short-hand property :>> to set the background properties in one declaration
    :>>follows the following order;
        background-color
        background-image
        background-repeat
        background-attachment
        background-position

    */
        
    } 

    #heroo h4
    {
        padding-bottom: 15px;

    }

    #heroo h2
    {
        padding-bottom: 5px;
        
    }

    #heroo h1
    {
       color:beige;
        
    }

    #heroo button
    {
        background-color:transparent ;
        color:rgb(213, 192, 170);
        border: 2;
        padding: 10px 70px 10px 55px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;                       
        font-size: 15px;
    }

    #heroo button:hover
    
    {
        background-color: #e2eeeb;
        color: black;
    }


    #feature
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    #feature .fe-box
    {   width: 25%;
        text-align: center;
        padding: 2px 2px;
        box-shadow:  20px 20px 34px rgba(0, 0, 0, 0.03);
        border: 1px solid #eebd4885;
        border-radius: 4px;
        margin: 15px 0;
    }

    #feature .fe-box:hover
    {
        box-shadow: 10px 10px 54px rgba(230, 182, 24, 0.01);
    }

    #feature .fe-box img
    {
        width: 100%;
        margin-bottom: 2 px;
    }

    #feature .fe-box img:hover
    {
        padding-inline: 10px;
        align-items: center;


    }


    #feature .fe-box h6
    {
        display:inline-flexbox ;
        padding: 9px 8px 6px 8px;
        font-size: 16 px;
        line-height: 1;
        border-radius: 4px;
        color: rgb(223, 242, 243);
        background-color: rgb(31, 28, 28);
    }

    #feature .fe-box h6:hover
    
    {
        background-color: white;
        color: black;
    }

    #Product1
    {
        text-align: center  ;
        
    }



    #Product1 .pro-container

    {
        display: flex;
        justify-content: space-between;
        padding-top: 20 px;
        flex-wrap: wrap;

    }

    #Product1 .pro
    {
        width: 25%;
        min-width: 250px;
        padding: 10px 12 px;
        border: 1px solid #000000 ;
        border-radius: 25 px;
        cursor: pointer;
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
    }
   

    #Product1 .pro img 
    {
        width: 100%;
        border-radius: 20 px ;
    }

    #Product1 .pro:hover
    {
        box-shadow: 2px 2px 20px 20px rgba(140, 85, 154, 0.96) ;
        transform: translateY(-15px);
    }

    #Product1 .pro .des
    {
        text-align: start;
        padding: 10px 5px;

    }

    #Product1 .pro .des span
    {
        color: rgb(71, 69, 69);
        font-size: 26px;
    }
    #Product1 .pro .des h5
    {
        color: rgb(71, 69, 69);
      
    }

    #Product1 .pro .des h5
    {
        padding-top: 7px;
        color: #1a1a1a;
        font-size: 18px;
    }

    #Product1 .pro .des i
    {
        font-size: 14px;
        color: purple;
    }

    #Product1 .pro .des h4
    {
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: #088178;
    }

   
    #banner
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url(../images/b1.jpeg);
        width: 100%;
        height:40vh;
        background-size: cover;
        background-position: center;
    }

    #banner  h4 
    {
        color:rgb(189, 242, 223);
        font-size: 16px;
        padding: 10px 0;
    }
    #banner  h2
    {
        color:rgb(243, 241, 232);
        font-size: 30px;
       
    }

    #banner  h4 span
    {
        color:rgb(247, 46, 10);
    }

    #banner button:hover
    {
        background:#088178;
        color: #cce7d0;
    }

    #sm-banner
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    #sm-banner .banner-box
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url(../images/b2.webp);
        min-width: 580px;
        height:50vh;
        background-size: cover;
        background-position: center;
        padding: 30px;

    }   

    #sm-banner h4
    {
        font-weight: 500;
        color: rgb(232, 177, 74);
        font-size: 20px;
        
    }
    
    #sm-banner h2
    {
        font-weight: 800;
        color: rgb(234, 150, 61);
        font-size: 28px;
        
    }

    #sm-banner span
    {
        color: rgb(246, 243, 240);
        font-size: 14px;
        font-weight: 800;
        padding-bottom: 15px;
    }

    .star {
        display: flex;
        width: 50px;
        background-color: red;
        /* height: 70px; */
        /* overflow: hidden; */
    }
    .star img{
        width:20px;
        height: 20px;
    }
    .cart{
        display: flex;
       
        flex-wrap: wrap;
        align-content: end;
        position: absolute;
        bottom: 70px;
        right:1px;
        /* height: 70px; */
        /* overflow: hidden; */
    }
    .cart img{
        width:60px;
        height: 60px;
    }
    .small-container{
        max-width: 1080px;
        margin:auto;
        padding: left 5px;
       
    }
    .col-5{
        flex-basis: 25%;
        min-width: 80px;  
        margin-bottom: 10px;
    align-items: end;
    transition:transform 0.5s;
    text-align: center;

    }
    .col-5 a:active{
        transform: translateY(-5px);
        color:#320e87;
    }
    .col5 a{
        text-decoration: none;
    }
    .col-5 a:link, a:visited{
        background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    }
    .col-5 a:hover, a:active {
        background-color: red;
      }


    .page-btn h3{
    
        margin: 0 auto 80px;
       
     
     }
     .row{
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .starbody
{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content:left ;
    align-items:start ;

}

.star_rating 
{
    display: flex;
    user-select: none;
   position: relative;
}

.starbody p

{
font-size: 11pt;
flex-direction: column;
padding: 8px;
color: #ff9800;
margin: -5px;
}




.star
{
    font-size: 30px;
    color: #ff9800;
    background-color: unset;
    border: none;

}

.star:hover
{
    cursor: pointer;
 

}