* {
    margin: 0px;
    padding: 0px;
}

.nav li,
a {
    display: flex;
    font-family: Outfit;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}